 * {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(7, 77, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .tecla {
    border: 1px solid rgb(2, 39, 19);
    background-color: rgb(144, 241, 176);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    flex-direction: column;
    margin: 10px;
    position: relative;
    min-width: 150px;

    small {
      position: absolute;
      top: -24px;
      left: 0;
      text-align: center;
      width: 100%;
      color: #ffffff;
    }

    .subtext {
      position: absolute;
      top: 25px;
      left: 0;
      text-align: center;
      width: 100%;
      color: #ffffff;
    }
  }



